{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Starter Project</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/email-verified.css' %}" >
</head>
<body>
    <div class="card">
        <div class="container">
            <h4><b>Hey User</b></h4> 
            <p>Your Account is Verified</p> 
        </div>
    </div>
</body>
</html>